div {
    backdrop-filter: blur(10);
    backdrop-filter: brightness(10);
    gap: calc(100px - 10px);
    filter: contrast(50);
    animation: cubic-bezier(0, 0, 1, 1);
    height: fit-content(10%);
    transform: scaleZ(20);
}

p {
    backdrop-filter: grayscale(10%);
    transform: scale3d(1, 1, 1);
    border-image-source: linear-gradient(45deg, blue, red);
    height: clamp(1.5rem, 2.5vw, 4rem);
}

html {
    background-color: hsla(50 80% 40%);
    transform: skewY(15deg);
    backdrop-filter: invert(50%);
}