div {
    border: dotted;
    mask-clip: view-box;
    outline: thick;
}

div {
    margin-top: 12px;
}

p {
    border: 50px;
}

html {
    appearance: textfield;
    border-color: blue;
}

div {
    padding: inherit;
}
